*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Montserrat", sans-serif;
  color: #090909;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* HEADER */
header {
  display: flex;
  align-items: center;
  padding: 1.2rem;
}

.logo {
  width: auto;
  height: 2rem;
}

.site-title {
  font-size: 0.9rem;
  font-weight: 700;
  letter-spacing: 0;
}

a {
  font-size: 0.85rem;
  color: #090909;
  text-decoration: none;
  letter-spacing: 0;
  font-weight: 600;
}

nav {
  margin-left: auto;
}

nav ul {
  display: flex;
  gap: 1rem;
}

/* MAIN */
.hero {
  background-image: url(images/article-image.png);
  padding: 5rem 1.2rem 1.5rem 1.2rem;
}

.profile {
  margin-bottom: 1.5rem;
}

.hero-post,
.about {
  padding: 1.2rem;
}

.about img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.hero {
  background-size: cover;
  background-position: center;
  cursor: pointer;
}

.hero h1,
.hero .date,
.hero p {
  color: white;
}

.hero-post h1,
.hero-post .date,
.hero-post p {
  color: #151515;
}

.date {
  font-size: 0.7rem;
}

.article-image {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
  margin: 1.5rem 0;
  border-radius: 0.2rem;
}

.hero-post h2,
.about h2 {
  font-size: 1rem;
  font-weight: 700;
}

.p-margin {
  margin: 1rem 0;
}

.hero h1,
.hero-post h1,
.about h1 {
  font-size: 1.8rem;
  font-weight: 700;
  padding: 0.6rem 0;
}

.about h1 {
  margin-top: 1rem;
}

.hero p,
.hero-post p,
.blog p,
.about p {
  font-size: 0.85rem;
  line-height: 1.5;
}

.blogs {
  padding: 1.5rem 1.2rem 2.2rem;
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.5rem;
}

.about a {
  text-decoration: underline;
}

.blog-imgs {
  display: block;
  width: 100%;
  border-radius: 0.4rem;
  margin: 0.6rem 0;
}

.blog .date {
  font-size: 0.8rem;
}

.blog h2 {
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.6rem 0;
}

.view-more,
.recent-post {
  text-align: center;
  font-weight: 700;
  cursor: pointer;
}

.view-more {
  text-decoration: underline;
  margin-bottom: 2.8rem;
}

footer {
  background-color: #202020;
  padding: 2.8rem 0;
  text-align: center;
}

footer p,
.github {
  color: #ececec;
  font-size: 0.75rem;
}

.foot {
  font-weight: 600;
}

.copy {
  margin: 0.2rem 0;
}

.github {
  font-weight: normal;
  text-decoration: underline;
}

i {
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .blogs {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    gap: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .profile {
    display: flex;
    align-items: center;
  }

  .about h1 {
    margin-top: 0;
  }

  .blogs {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    gap: 1.5rem;
  }
}
